# Build artifacts
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo

# Logs and debug
*.log
*.vspscc
.vscode/

# Environment files
.env

# Rider/JetBrains IDE files
.idea/
*.iml

# Dependencies
packages/
.nuget/

# Temporary files
*.tmp
*.temp
*.DS_Store

# Visual Studio working folders
.vs/
settings.json

# Configuration files
appsettings.*.json
appsettings.json

# .NET Core
Backend.http
Backend.http-sharp
*.sln
